body {
    background: #ffffffaf;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fas {
  font-size: 5em!important;
}


.pulse {
    width: 120px;
    height: 120px;
    color: rgb(255, 150, 234);
    border-radius: 50%;
    background-color: #8e7fd3;
    line-height: 120px;
    animation: animate 3s linear infinite;
    justify-content: center;
    align-items: center;
    display: flex;

}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 #6751d3d3, 
        0 0 0 0 #6751d3d3;
    }
    40% {
        box-shadow: 0 0 0 20px #6751d3d3, 
        0 0 0 0 #6751d3d3;
    }
    80% {
        box-shadow: 0 0 0 30px #6751d3d3,
        0 0 0 30px #6751d3d3;
    }
    100% {
        box-shadow: 0 0 0 0 40px #6751d3d3, 
        0 0 0 40px  #6751d3d3;
    }
}

